/* Define colors */
:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --grey-color-light: #f0f0f0;
    --grey-color-dark: #333333;
    --purple-color: #800080;
    --cyan-color: #00ffff;

    --global-bg-color: var(--white-color);
    --global-text-color: var(--black-color);
}

html[data-theme="dark"] {
    --global-bg-color: var(--grey-color-dark);
    --global-text-color: var(--grey-color-light);
}

/* Apply styles */
body {
    background-color: var(--global-bg-color);
    color: var(--global-text-color);
    transition: background-color 0.3s, color 0.3s;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
